  
/* button animation using pure css*/

.glow-on-hover {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(46, 43, 43)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2c2929;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



/*Skills CSS Animations*/
h2 {
    font-size: 2.7em;
    font-weight: normal;
    padding: 10px 0 16px 0;
    margin: 0 0 30px;
    text-align: center;
    color: #2187e7;
    text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
    background: #000;
    border-radius: 2px;
    border: 1px solid #2187e7;
    box-shadow: 0px 0px 50px -8px #2187e7;
}

h2.plataformas {
    border: 1px solid #9ACD32;
    box-shadow: 0px 0px 50px -8px #9ACD32;
    color: #9ACD32;
    text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
}

h2.programas {
    border: 1px solid #FF4500;
    box-shadow: 0px 0px 50px -8px #FF4500;
    color: #FF4500;
    text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}
.programas {
    width: 23vw;
}

.container {
    width: 90%;
    padding: 5%;
    margin: 0 auto;
    overflow: hidden;
}
.container-contact{
    width: 85%;
    padding: 5%;
    margin: 50px auto;
    overflow: hidden;
}

.col {
    width: 23%;
    margin: 0 5%;
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 2em;
    padding: 5% 0;
}

/*.col { width:101%; }*/
.skill {
    list-style: none;
    padding-top: 30px;
}

.skill li {
    margin-bottom: 70px;
    background: #030303;
    height: 6px;
    border-radius: 3px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.skill li em {
    position: relative;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color: #dedede;
    top: -28px;
    text-transform: uppercase;
}

.blueline {
    height: 3px;
    margin: 2px 0;
    background: #08f6f6e5;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
}

.greenline {
    height: 3px;
    margin: 2px 0;
    background: #9ACD32;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(173, 255, 47, 0.4);
}

.redline {
    height: 3px;
    margin: 2px 0;
    background: #FF4500;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(255, 69, 0, 0.4);
}

.progress-bar {
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-top: 5px;
    overflow: hidden; /* Hide overflowing progress text */
  }
  
  .progress {
    background-color: #4caf50;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 3px;
    transition: width 0.5s ease; /* Transition width changes */
  }
  

.titulo {
    opacity: 1;
    animation: titulo 5s ease-out;
}

.space{
    margin-left: 0.4rem;
}
.html {
    width: 90%;
    animation: html 2s ease-out;
}

.css {
    width: 95%;
    animation: css 2s ease-out;
}

.c {
    width: 70%;
    animation: c 2s ease-out;
}

.javascript {
    width: 50%;
    animation: javascript 2s ease-out;
}

.mongodb {
    width: 30%;
    animation: mongodb 2s ease-out;
}
.java{
    width: 60%;
    animation: java 2s ease-out;
}


.bootstrap {
    width: 80%;
    animation: bootstrap 2s ease-out;
}

.tailwind {
    width: 60%;
    animation: tailwind 2s ease-out;
}

.react {
    width: 55%;
    animation: react 2s ease-out;
}


.creativity {
    width: 80%;
    animation: creativity 2s ease-out;
}

.communication {
    width: 45%;
    animation: communication 2s ease-out;
}

.problem-solving {
    width: 70%;
    animation: problem-solving 2s ease-out;
}

.team-work {
    width: 65%;
    animation: team-work 2s ease-out;
}




@keyframes titulo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*programacion*/
@keyframes html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0px;
    }

    100% {
        width: 95%;
    }
}

@keyframes c {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}
@keyframes java {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@keyframes javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}

@keyframes mongodb {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    }
}

/*plataformas*/
@keyframes bootstrap {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@keyframes tailwind {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@keyframes react {
    0% {
        width: 0px;
    }

    100% {
        width: 55%;
    }
}


/*programas*/
@keyframes creativity {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@keyframes communication {
    0% {
        width: 0px;
    }

    100% {
        width: 45%;
    }
}

@keyframes problem-solving {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@keyframes team-work {
    0% {
        width: 0px;
    }

    100% {
        width: 65%;
    }
}


/*media queries*/
@media (max-width: 1200px) {
    h2 {
        font-size: 2.2em;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .container-custom {
        flex-direction: column;
    }
    .custom-intro{
        margin-top: 18px;
    }
}
@media (max-width: 980px) {
    h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 1.4em;
    }
}

@media (max-width: 692px) {
    .responsiveness{
        flex-direction: row;
    }
}

@media (max-width: 580px) {
    h2 {
        font-size: 1.1em;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 2.2em;
        padding: 10px 0 15px 0;
    }

    .col {
        width: 90%;
    }
    .prof{
        width: auto;
    }
}
@media (min-width: 1600px) {
    .prof{
        width: auto;
    }
  }
