/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the navigation bar */
.nav {
  background: #6a11cb; 
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); 
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); 
  padding: 1rem;
}

/* Styling for the navigation elements */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the heading */
.heading {
  color: white;
}

/* Styling for the navigation links */
.links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.links li {
  margin: 0;
}

.links a {
  text-decoration: none;
  color: white;
}


.hamburger-menu {
  display: none;
  cursor: pointer;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block; 
  }
  
  .custom-nav {
    position: absolute;
    top: 4.5em;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1;
    backdrop-filter: blur(3px); 
    background-color: rgba(55, 65, 81, 0.25); 
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: whitesmoke; 
    text-shadow: 0 0 5px rgb(255, 255, 255);
  }
  .custom-nav > li {
    margin-top: 12px;
  }
  
  .mobile_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hamburger-menu {
    display: block; 
  }
  
  .custom-nav {
    position: absolute;
    top: 4.5em;
    left: 0;     
    right: 0;    
    width: 100vw; 
    z-index: 1;
    backdrop-filter: blur(3px); 
    background-color: rgba(55, 65, 81, 0.25); 
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: whitesmoke; 
    text-shadow: 0 0 5px rgb(255, 255, 255);
  }

  .custom-nav > li {
    margin-top: 10px;
  }

  .mobile_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

